


<form class="create-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
        @if (nameLocked) {
            <div class="main-header">{{ disease.name }}</div>
        }
        @else {
        <mat-form-field 
            floatLabel="always" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Erkrankungsname</mat-label>
            <input 
                class="required" 
                matInput formControlName="name" 
                placeholder="Namen der Erkrankung angeben" />
            <mat-icon matSuffix>abc</mat-icon>
            @if (formGroup.get('name')?.hasError('required') 
                && formGroup.get('name')?.touched) {
                    <mat-error>Erkrankungsname ist erforderlich</mat-error>
            }
        </mat-form-field>
    }
    </div>
    <div class="form-header">Auswertung</div>
    @if (showPanelsTable) {
        <div class="form-row">
            <mat-form-field
               floatLabel="always"
               appearance="outline"
               subscriptSizing="dynamic">
               <mat-label>Auszuwertende Panel</mat-label> 
               <div class="textarea-container">
                    <textarea matInput
                        class="associated-panels"
                        maxlength="200000"
                        formControlName="associated_panels"
                        onInput="this.parentNode.dataset.replicatedValue = this.value">
                    </textarea>         
                <button mat-flat-button 
                    class="switch" 
                    (click)="togglePanelsTable()">
                    <mat-icon>edit</mat-icon>
                </button>
                </div>
            </mat-form-field>
            <!-- example: how to populate with string from ts variable:
            <div [innerHTML]="instructionsFilterInfo"></div>
            -->
            <mat-form-field 
                floatLabel="always" 
                appearance="outline" 
                subscriptSizing="dynamic">
                <mat-label>Hinweise zur Filterung</mat-label>
                <div class="grow-wrap">
                    <textarea matInput
                        class="filter-info"
                        maxlength="200000"
                        formControlName="filter_info"
                        onInput="this.parentNode.dataset.replicatedValue = this.value">
                    </textarea>
                </div>
            </mat-form-field>
        </div>
    }
    @else {
    <mat-form-field 
        floatLabel="always" 
        appearance="outline" 
        subscriptSizing="dynamic">
        <mat-label>Panels</mat-label>
        <mat-select formControlName="associated_panels" multiple>
            @for (panel of panelList; track panel.name) {
                <mat-option [value]="panel">{{ panel.name }}</mat-option>
            }
        </mat-select>
        <mat-icon matSuffix>format_list_numbered</mat-icon>
    </mat-form-field>
        <button mat-flat-button 
            color="accent" 
            (click)="togglePanelsTable()">
            Show Panels Table
        </button>
    }
    <mat-form-field
        floatLabel="always"
        appearance="outline"
        subscriptSizing="dynamic">
        <mat-label>Besonderheiten bei der Auswertung</mat-label> 
        <div class="textarea-container">
            <textarea matInput 
                class="analysis-features"
                formControlName="analysis_features">
        </textarea>
        <!--
        <button mat-flat-button 
            class="switch" 
            (click)="popupAnalysisFeaturesHelp()">
            <mat-icon>info_outline</mat-icon>
        </button>
        -->
        </div>
    </mat-form-field>
    <div class="form-header">Befundung</div>
    <span class="form-subheader">Hier bitte keine kompletten Befundtexte, 
        sondern nur Ausnahmen/ Besonderheiten, die sich von der Generalvorlage 
        unterscheiden. <= remove, once a disease record has been created?</span>
    <mat-form-field 
        floatLabel="always" 
        appearance="outline" 
        subscriptSizing="dynamic">
        <mat-label>Allgemeine Infos</mat-label>
        <textarea matInput 
            class="report-info"
            formControlName="report_info" 
            placeholder="TODO: Placeholder durch Default-Text ersetzen">
        </textarea>
    </mat-form-field>
    <mat-form-field 
        floatLabel="always" 
        appearance="outline" 
        subscriptSizing="dynamic">
        <mat-label>Befundtext</mat-label>
        <textarea matInput 
            class="report-text"
            formControlName="report_text" 
            placeholder="TODO: Placeholder durch Default-Text ersetzen">
        </textarea>
    </mat-form-field>
    <mat-form-field 
        floatLabel="always" 
        appearance="outline" 
        subscriptSizing="dynamic">
        <mat-label>Technischer Report</mat-label>
        <textarea matInput 
            class="report-tech"
            formControlName="report_tech" 
            placeholder="TODO: Placeholder durch Default-Text ersetzen">
        </textarea>
    </mat-form-field>
    <div class="form-header">Erkrankungsinfos</div>
    <mat-form-field 
        floatLabel="always" 
        appearance="outline" 
        subscriptSizing="dynamic">
        <mat-label>Erkrankungsinfos</mat-label>
        <textarea matInput
            class="general-info"
            formControlName="general_info" 
            placeholder="TODO: Placeholder durch Default-Text ersetzen">
        </textarea>
    </mat-form-field>
    <div class="form-actions">
        <button mat-flat-button class="control-button" color="primary" type="submit" [disabled]="createForm.invalid">Create/ Save</button>
        <button mat-flat-button class="control-button" color="primary" type="button" (click)="onCancel()">Cancel</button>
    </div>
</form>

