<div class="panel-container" style="width: 1400px; margin-top:25px;margin-left:20px">
    <h1 style="color: seagreen; font-weight: bold;" >Panels</h1>
    <h3 style="color: lightseagreen; font-weight: bold;" >Add, edit and view disease-associated panels</h3>
    <div style="display: flex; align-items: bottom;">
        <mat-form-field style="width: 540px; height: 75px;">
            <input matInput type="text" name="name" id="name" [(ngModel)]="panel.name" placeholder="name">
            <mat-icon fontIcon="abc" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field style="width: 640px; height: 75px; margin-left: 10px;">
            <mat-select [value]="panel.genes" [formControl]="genes" multiple placeholder="select gene(s)" (selectionChange)="geneSelectionChange($event.value)">
                @for (gene of panel.genes; track gene.symbol) {
                    <mat-option [value]="gene">{{ gene.symbol }}</mat-option>
                }
                @for (gene of geneList; track gene.symbol) {
                    @if (!isAssociatedGene(gene)) {
                        <mat-option [value]="gene">{{ gene.symbol }}</mat-option>
                    }
                }
            </mat-select>
            <mat-icon fontIcon="list" matPrefix></mat-icon>
        </mat-form-field>
        <button mat-flat-button class="button confirm" (click)="addUpdatePanel(panel)">Anlegen/ Speichern</button>
        <button mat-flat-button class="button cancel" (click)="unsetPanel()">Abbrechen</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let panel">{{ panel.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let panel">{{ panel.name }}</td>
        </ng-container>
        <ng-container matColumnDef="genes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gene </th>
            <td mat-cell *matCellDef="let panel">
                @for (gene of panel.genes; track gene.symbol) {
                    {{ gene.symbol }}@if (gene != panel.genes[panel.genes.length - 1]) {, }
                }
            </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Anpassen </th>
            <td mat-cell *matCellDef="let panel">
                <button mat-flat-button 
                (click)="setPanel(panel)" 
                style="background-color: lightseagreen;"
                >
                <mat-icon 
                    fontIcon="edit" 
                    style="color: white; margin-left: auto; margin-right: auto; display: block !important;">
                </mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Löschen </th>
            <td mat-cell *matCellDef="let panel">
                <button 
                    mat-flat-button 
                    (click)="deletePanel(panel.id)"
                    style="background-color: coral;"
                >
                    <mat-icon 
                        fontIcon="delete_forever" 
                        style="color: white; margin-left: auto; margin-right: auto; display: block !important;">
                    </mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let panel; columns: displayedColumns;"></tr>
    </table>
    <br>
    <button 
        mat-flat-button 
        (click)="goToHome()" 
        style="color: white; background-color: cornflowerblue; height: 50px; width: 200px;"
        >Back to Home
        <mat-icon 
        fontIcon="door_back" 
        style="color: white; margin-left: 0px; margin-right: 10px; display: block !important;">
        </mat-icon>
    </button>
    <button
        mat-flat-button
        (click)="goToGenes()"
        style="color: white; background-color: cornflowerblue; height: 50px; width: 200px; margin-left: 20px;"
        >genes
        <mat-icon
        fontIcon="fingerprint"
        style="color: white; margin-left: 0px; margin-right: 10px; display: block !important;">
        </mat-icon>
    </button>
</div>
