<div class="editing-notes">
    <div>
        <h2 style="color:navy">Anmerkungen zur letzten Änderung</h2>
        <p style="color: navy;">{{ latestEditingNote?.note }}</p>
        <p style="color: slategray; font-style: italic;">
            {{ latestEditingNote?.created_at | date:'short' }} <br>
            {{ latestEditingNote?.created_by }}
        </p>
    </div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Änderungshistorie 
                </mat-panel-title>
                <!--
                <mat-panel-description>
                    sortiert nach Datum
                </mat-panel-description>
                -->
            </mat-expansion-panel-header>
            @for (editingNote of diseaseEditingNotes; track $index) {
                @if ($index > 0 && $index < 20 && editingNote) {
                    <p style="color: navy; font-style: bold;">
                        {{ editingNote.note }} 
                        <br>
                    </p>
                    <p style="color: slategray; font-style: italic;">
                        {{ editingNote.created_at | date:'short' }} <br>
                        {{ editingNote.created_by }} <br>
                    </p>
                    <mat-divider></mat-divider>
                }
            }
            <p>Kommentar-Text zu älteren Änderungen</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
