<div class="editing-notes">
    <div>
        <h2 style="color:navy">Anmerkungen zur letzten Änderung</h2>
        <p style="color: navy;">{{ latestEditingNote?.note }}</p>
        <p style="color: slategray; font-style: italic;">
            {{ latestEditingNote?.created_at | date:'short' }} <br>
            {{ latestEditingNote?.created_by }}
        </p>
    </div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Änderungshistorie 
                </mat-panel-title>
                <!--
                <mat-panel-description>
                    sortiert nach Datum
                </mat-panel-description>
                -->
            </mat-expansion-panel-header>
            @for (editingNote of diseaseEditingNotes; track $index) {
                @if ($index > 0 && $index < 20 && editingNote) {
                    <p style="color: navy; font-style: bold;">
                        {{ editingNote.note }} 
                        <br>
                    </p>
                    <p style="color: slategray; font-style: italic;">
                        {{ editingNote.created_at | date:'short' }} <br>
                        {{ editingNote.created_by }} <br>
                    </p>
                    <mat-divider></mat-divider>
                }
            }
            <!--
            <div style="display: flex; flex-direction: row; align-items: center;">
                <button mat-mini-fab color="primary"
                    matTooltip="Komplette Änderungshistorie anzeigen"
                    style="margin-right: 10px;"
                    (click)="showAllEditingNotes()">
                    <mat-icon>list</mat-icon>
                </button>
                <h3 style="color: navy;">Komplette Historie</h3> 
            </div>
            -->
            <div style="margin-top: 20px; margin-bottom: 10px;">
                <nav>
                    <a href="/editing-notes-table?diseaseId={{ diseaseId }}">
                        Komplette Historie anzeigen
                    </a>
                </nav>
                <router-outlet />
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
