<h2 mat-dialog-title>Anmerkung hinzufügen</h2>
<mat-dialog-content>
    <p>Hier können Sie eine Anmerkung zu den Änderungen hinzufügen</p>
    <mat-form-field style="width: 100%;">
        <mat-label>Anmerkung</mat-label>
        <textarea rows="5" matInput placeholder="Anmerkung hinzufügen" [(ngModel)]="newNote"></textarea>
        <mat-icon matSuffix fontIcon="edit_note"></mat-icon>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <!--  not necessary
    <button mat-raised-button color="primary" style="margin-left: 20px;" mat-dialog-close>Abbrechen</button>
    -->
    <button mat-raised-button style="margin: 10px;background-color:cornflowerblue; color: white;" (click)="saveEditingNote()">Hinzufügen</button>
</mat-dialog-actions>
