.app-container {
    display: flex;
    align-items: top;
    height: 100vH;
    flex-shrink: 1;
    justify-content: flex-start;
}

.left-view {
    width: 150px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 15px;
    flex-shrink: 0;
}

.view-edit-form {
    max-width: 900px;
    padding: 40px;
    margin: 0 auto;
    /*background-color: #f5f5f5; <- light grey */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mini-table {
    width: 400px;
    min-height: 175px;
    border: 1px solid rgb(143, 140, 140);
    border-radius: 3px;
    border-style: solid;
    padding: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.outline {
    /*display: flex; */
    /*align-items: top; */
    /*align-items: flex-start; */
    border-style: solid; 
    border-radius: 3px;
    border-width: 1px; 
    border-color: slategray; 
    padding: 10px; 
    padding-bottom: 0px !important;
    /*margin-bottom: 20px;*/
}

.subheader {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: midnightblue;
    padding-bottom: 10px !important;
}

mat-label {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: midnightblue;
    padding-bottom: 20px !important;
}
.button {
    width: 130px;
}

.button.confirm {
    background-color: lightseagreen;
    color: white;
    width: 8rem;
    height: 3rem;
    margin-left: 1rem;
}

.button.cancel {
    background-color: coral;
    color: white;
    width: 8rem;
    height: 3rem;
    margin-left: 1rem;
}

.button.edit {
    background-color: midnightblue;
    color: white;
    width: 40px;
    height: 40px;
    margin-left: 0px;
}
.button.home {
    background-color: midnightblue;
    color: white;
    width: 8rem;
    height: 3rem;
}
.button.lock {
    background-color: coral;
    color: white;
    width: 36px;
    height: 50px;
    min-width: 38px !important;
    padding: 0px !important;
    margin-left: 10px;
}

.button.unlock {
    background-color: lightseagreen;;
    color: white;
    width: 36px;
    height: 50px;
    min-width: 38px !important;
    padding: 0px !important;
    margin-left: 10px;
}

.input-group-append{
    display: flex;
    flex-direction: column;
}
