.button {
    width: 130px;
}

.button.confirm {
    background-color: lightseagreen;
    color: white;
    width: 130px;
    height: 60px;
    margin-left: 10px;

}
.button.cancel {
    background-color: coral;
    color: white;
    width: 130px;
    height: 60px;
    margin-left: 10px;
}

.input-group-append{
    display: flex;
    flex-direction: column;
}