* {
    margin-left: 10px;
}
.warning {
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.icon {
    font-size: 36px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.icon.left {
    padding-right: 50px;
}