
.panel-select-form {
    max-width: 900px;
    padding: 40px;
    margin: 0 auto;
    /*background-color: #f5f5f5; <- light grey */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropdown-row {
    display:flex;
    width: 100%; 
    align-items: bottom; 
    justify-content: space-between;
}

/* bottom row with one button on the left and two on the right side */
.button-row {
    display: flex;
    width: 100%; 
    align-items: center; 
    justify-content: space-between;
}
.double-button {
    display: flex; 
    width: 90%; 
    justify-content: end; 
    align-items: center;
}

.button.confirm {
    background-color: lightseagreen;
    color: white;
    width: 8rem;
    height: 3rem;
    margin-left: 1rem;
}

.button.cancel {
    background-color: coral;
    color: white;
    width: 8rem;
    height: 3rem;
    margin-left: 1rem;
}

.button.edit {
    background-color: midnightblue;
    color: white;
    width: 40px;
    height: 40px;
    margin-left: 15px;
}
.button.home {
    background-color: midnightblue;
    color: white;
    width: 8rem;
    height: 3rem;
}
.button.lock {
    background-color: coral;
    color: white;
    width: 36px;
    height: 60px;
    min-width: 38px !important;
    padding: 0px !important;
    margin-left: 10px;
}

.button.unlock {
    background-color: lightseagreen;
    color: white;
    width: 36px;
    height: 60px;
    min-width: 38px !important;
    padding: 0px !important;
    margin-left: 10px;
}
